cosine_sim.pickle filter=lfs diff=lfs merge=lfs -text
C:/Users/wawa2/PythonMLWorkspace/프로젝트/cosine_sim.pickle filter=lfs diff=lfs merge=lfs -text
*pickle filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
